* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #dd0b0b 0%, #bb4545 85%, #e08181 100%);
}
/* Header */


/* Main */
.main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5rem;
}

.banner {
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.website-title {
    text-align: center;
    font-size: 60px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px white;
    width: 100%;
}

#start-button {
    display: flex;
    color: black;
    background-color: white;
    font-size: 1.5em;
    text-align: center;
    margin: 15px;
    padding: 10px 25px;
}

.main__section {
    display: inline-block;
    border: var(--border2);
    width: 55vw;
    min-height: 5rem;
    margin: 0 2rem;
    background-color: white;
}

.trivia {
    text-align: center;
    font-size: 25px;
}

.question__container {
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.direction {
    padding: 10px;
    margin-top: 12rem;
}

.main__section--right {
    height: 525px;
    width: 30vw;
    background-color: white;
}

.answerBtn {
    color: black;
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 5px 15px;
    font-size: 1.25rem;
}

.timer {
    text-align: center;
}
