:root {
    /* --border1: solid 3px red; */
    --border2: solid 5px black;
    /* --border3: solid 3px green; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #dd0b0b 0%, #bb4545 85%, #e08181 100%);
}
/* Header */


/* Main */
.main {
    display: flex;
    border: var(--border1);
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5rem;
}

.banner {
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.website-title {
    text-align: center;
    font-size: 60px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px white;
    width: 100%;
}

.start-button {
    display: flex;
    color: black;
    background-color: white;
    border-radius: 5px color black;
    font-size: 1.5em;
    text-align: center;
    margin: 15px;
    padding: 10px 25px;
}

/* .header-imgs {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

}

#spotlight-right {
    max-width: 150px;
    max-height: 150px;
    justify-self: flex-end;
    
}

#spotlight-left {
    max-width: 150px;
    max-height: 150px;
    justify-self: flex-start;
} */

.main__section {
    display: inline-block;
    border: var(--border2);
    width: 55vw;
    min-height: 5rem;
    margin: 0 2rem;
    background-color: white;
}

.question__container {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main__section--right {
    height: 525px;
    width: 30vw;
    background-color: white;
}

.timer {
    height: 200px;
    border: 5px solid black;
    text-align: center;
}

/* .hidden {
    display: none;
} */

/* .newPEl {
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
} */